* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    background-color: orange;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}


.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007D88;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


.footer {
    background-color: orange;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007D88;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}


.back-button:hover {
    background-color: #005a64;
}

#download-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout {
    background-color: #007D88;
    color: white;
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px; 
}


#logout:hover {
    background-color: #007D88;
}


#qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
}

#qr-code {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#messages {
    text-align: center;
}